{% extends 'blog/base.html' %}
{% load static %}

{% block content %}

<div class="col-sm-12">
    <h3 class="text-white my-5">About Me</h3>
    <h4 class="text-black text-align-justify;">Hello , My name is Akash Mathur  and I have 1 year of full stack development experience for global business, I offer the technical expertise you are seeking for your web developer position.
    </br>
    
</br>

        Since earning my bachelor's degree in Computer Science and Engineering from Maharshi Dayanand University Rohtak Haryana, I have served as a web developer at CodeSure Software Solutions Pvt. Ltd. In this position, I have led web development projects for clients in diverse industries including technology, manufacturong, pharmaceutical, hospitality, retail and entertainment.
</h4>
<li>
    <i class="fas fa-envelope fa-2x i-color"></i>
    <p>Email :- mathurakash700@gmail.com</p>
</li>
<li>
    {% comment %} <i class="fas fa-envelope fa-2x i-color"></i> {% endcomment %}
    <p>website : <a href="https://mathurakash.pythonanywhere.com/" target="_blank">https://mathurakash.pythonanywhere.com/</a></p>
</li>
</div>

{% endblock content %}